= semantic_form_for [:admin, @article] do |f| 
  = f.inputs "Article Details" do
    = f.semantic_errors :introduction
    = f.input :title
    = f.input :introduction, :as => :text, :label => "Article Preview", :hint => "Introductory content for article", :input_html => { :rows => 5, :maxlength => 200 }
    - if f.object.persisted?
      = f.input :user_article_category, :label => "Select Article Category", :include_blank => false, 
        :as => :select, :collection => current_admin_user.current_article_categories
    - else
      = f.input :user_article_category, :label => "Select Article Category", 
          :include_blank => "choose article category", :as => :select, :collection => current_admin_user.current_article_categories
    = f.input :image, :as => :file, :hint => f.template.image_tag(f.object.image.user_thumb.to_s)
    -#f.input :remove_image, :as => :boolean
    = f.input :body, :label => "Article Content", :as => :ckeditor, :input_html => { :ckeditor => { :height => 400, :toolbar => 'Full' } }
  = f.actions :submit