!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
%html{:class => 'no-js', :lang => 'en'}<>
  <!--<![endif]-->
  %head
  %meta{:charset => "utf-8"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title Online Magazine | #{yield(:title)}
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag "application", media: "all", href: "http://fonts.googleapis.com/css?family=Vollkorn"
  = csrf_meta_tags
  %body
    .container
      %header{ :class => "header main-content", :role => "banner" }
        %a.menu-button
          %span{ :class => "icon-list4" }
        %h3
          Seed International Magazine
        %p
          Clearly on The Cutting-Edge Side of Business Innovation 
        / logo "&#xe014;".html_safe } :data => { , "aria-hidden" => "true" :icon => "&#xe610;".html_safe } }
      %hr
      %nav{ :class => "content-navigation", :role => "navigation" }
        %header.navigation-header
          / h1-h6 heading
          / and metadata
        %ul
        - @article_categories.each do |article_category|
          %li.content-link
            %a{:href => "#"} 
              = article_category.name
      / %hr.main-content
      .main-content
        = yield
    %hr
    %footer{:class => "footer container clearfix", :role => "contentinfo" }
      .contact
        %ul.mail-contact
          %li
            Contact us
          %li
            %a{:href => "#"}
              Email us
        %ul.social-contact
          %li
            Social
          %li.icon-facebook
            %a{:href => "#"} Facebook
          %li.icon-twitter2
            %a{:href => "#"} Twitter
          %li.icon-googleplus2
            %a{:href => "#"} Google+
          %li.icon-play
            %a{:href => "#"} YouTube
          %li.icon-vimeo2
            %a{:href => "#"} Vimeo
          %li.icon-linkedin
            %a{:href => "#"} LinkedIn
      .copyright
        #{Date.today.year} Seed International Magazine
  = javascript_include_tag "application", "data-turbolinks-track" => true
            
/ The HTML markup should describe the content. It should be clean, semantic, and free from presentational naming or order.
/ before body /[if lt IE 9] already included by modenzr %script{:src  => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
