!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
%html{:class => 'no-js', :lang => 'en'}<>
  <!--<![endif]-->
  %head
  %meta{:charset => "utf-8"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title Online Magazine | #{yield(:title)}
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  %body
    .container
      %header{ :class => "header main-content", :role => "banner" }
        / Seed International Magazine
        / logo "&#xe014;".html_safe } :data => { , "aria-hidden" => "true" :icon => "&#xe610;".html_safe } }
        %a.menu-button
          %span{ :class => "icon-list4" }
      %nav{ :class => "content-navigation", :role => "navigation" }
        %header.navigation-header
          / h1-h6 heading
          / and metadata
        %ul
        - @article_categories.each do |article_category|
          %li.content-link
            %a{:href => "#"} 
              = article_category.name
      / %hr.main-content
      .main-content
        = yield
    %footer{:class => "footer container clearfix", :role => "contentinfo" }
      .contact
        %ul
          %li.contact-name
            Oluwafemi Adenubi
          %li.contact-phone
            (+234) 80-750-363-79
          %li.contact-email
            contextfree9@gmail.com
      .social
        %small.copyright
          Copyright Seed International Magazine #{Date.today.year}
        %ul
          %li.social-dribble
            %a{:href => "#"} Dribble
          %li.social-facebook
            %a{:href => "#"} Facebook
          %li.social-twitter
            %a{:href => "#"} Twitter
            
/ The HTML markup should describe the content. It should be clean, semantic, and free from presentational naming or order.
/ before body /[if lt IE 9] already included by modenzr %script{:src  => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
