!!!
%html{:lang => "en"}
  %head
  %meta{:charset => "utf-8"}
  %title Online Magazine | #{yield(:title)}
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  /[if lt IE 9]
    %script{:src  => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
  %body
    .container
      %h3 Seed International Magazine
      %ul.nav.content-navigation
      - @article_categories.each do |article_category|
        %li.ok
          = article_category.name
      .main-content
        = yield
    %footer.container
      %br
      %hr
      %ul.footnote-links-wrapper
        %li.footnote-link
          %a{:href => "#"} Terms & Conditions
        %li.footnote-link
          %a{:href => "#"} Contact Us
        %li.footnote-link
          %a{:href => "#"} Copyright #{Date.today.year}

