!!!
%html{:lang => "en"}
  %head
  %meta{:charset => "utf-8"}
  %title Online Magazine | #{yield(:title)}
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  /[if lt IE 9]
    %script{:src  => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
  %body
    .inner
      %h3 Seed International Magazine
      %ul.nav{:role => "navigation"}
        %li.active
          %a{:href => "/"} Home
        %li
          %a{:href => "/about"} About
        %li
          %a{:href => "/contact"} Contact
      .main-content
        = yield
    %footer.inner
      %br
      %hr
      %ul.footnote-links-wrapper
        %li.footnote-link
          %a{:href => "#"} Terms & Conditions
        %li.footnote-link
          %a{:href => "#"} Contact Us
        %li.footnote-link
          %a{:href => "#"} Copyright #{Date.today.year}

